@font-face {
    font-family: ceraProReg;
    src: url(../font/Cera\ Pro\ Regular.otf);
}

@font-face {
    font-family: ceraProMed;
    src: url(../font/Cera\ Pro\ Medium.otf);
}

@font-face {
    font-family: ceraProBol;
    src: url(../font/Cera\ Pro\ Bold.otf);
}

@font-face {
    font-family: ceraProMedIta;
    src: url(../font/Cera\ Pro\ Medium\ Italic.otf);
}

@font-face {
    font-family: ceraProIta;
    src: url(../font/Cera\ Pro\ Regular\ Italic.otf);
}

@font-face {
    font-family: ceraProLig;
    src: url(../font/Cera\ Pro\ Light.otf);
}

.header{
    background-image: url(../image/default-bg.jpg);
    background-size: cover;
    background-position: 40%;
}
.section-1 .container .nav-item{
    font-family:"ceraProReg";
    padding: auto;
}
.section-1 .container .nav-item .nav-link{
    font-size: 24px;
    color: white;
    margin-left: 57px;
}
.section-1 .container .nav-item a:hover{
    color: green;
}
.container-fluid h1{
    font-size: 86px;
    font-family: ceraProBol;
    color:white;
}
.section-2{
    font-family: ceraProReg;
    background-color: rgb(30, 29, 27);
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.section-2 .text-panel-about p{
    font-size: 38px;
    font-family: ceraProMed;
}
.section-2 .text-panel-about h2{
    font-size: 48px;
    font-family: ceraProMed;
    line-height: 48px;
}

.section-2 .text-panel h2{
    font-size: 48px;
    font-family: ceraProMed;
    line-height: 48px;
} 
.section-2 .text-panel-about .text{
    width: 530px;
    height: 300px;
}

.section-2 .text-panel .text{
    width: 535px;
    height: 300px;
}
.section-2 .text-panel-value .text{
    width: 525px;
    text-align: center;
    height: 300px;
    background-color: rgb(30, 29, 27);
}
.section-2 .text-panel-value h2{
    font-size: 48px;
    margin-left: 260px;
    font-family: ceraProMed;
    line-height: 48px;
    margin-bottom: none;
    padding-bottom: none;
}
.section-2 .text-panel-about .strip{
    width: 65px;
    height: 3px;
    background-color: #FDB467;
}
.section-2 .text-panel-value .strip{
    width: 65px;
    margin-top: -7px;
    padding-top: none;
    margin-left: 284px;
    height: 3px;
    position: absolute;
    background-color: #FDB467;
}
.img-value{
    margin-left: 230px;
}
.section-2 .text-panel .strip{
    width: 65px;
    height: 3px;
    background-color: #FDB467;
}